<a href="https://colab.research.google.com/github/upkarsssharma/Data_science_assignment1/blob/main/Pwskill_ds_upkar_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Example 1 : If else use

In [2]:
x=2
if x > 0:
    print("x is positive")
elif x < 0:
    print("x is negative")
else:
    print("x is zero")

x is positive

# Example 2 : for use

In [3]:
my_list = [1, 2, 3, 4, 5]
for item in my_list:
    print(item)

1
2
3
4
5

# Example 3 : while , break , continue , pass

In [8]:

count = 9
while count < 10:
  print("Count is", count)
  count -= 1
  if count == 0:
    break  # Exit the loop when count is 0
  if count == 3 :
    count -= 1  # Decrement count when count is 3
    continue  # Skip the iteration when count is 3
  if count == 5:
    pass  # Do nothing when count is 5

Count is 9
Count is 8
Count is 7
Count is 6
Count is 5
Count is 4
Count is 2
Count is 1

# Example 4 : Mutable and immutable datatypes

In [11]:
# Immutable data types:
# int, float, bool, str, tuple

# Example of Immutable data types
x = 5
print("Original value of x:", x)
x = x + 1
print("Value of x after modification:", x)
# Notice that the value of x is modified but the original value was not changed.

# Mutable data types
# list, dict, set

# Example of Mutable data types
my_list = [1, 2, 3]
print("Original list:", my_list)

my_list.append(4)
print("Modified list:", my_list)

# Here, the list is changed directly in place, rather than creating a new list entirely.

Original value of x: 5
Value of x after modification: 6
Original list: [1, 2, 3]
Modified list: [1, 2, 3, 4]

# Example 5 : Example of type casting

In [17]:
integer_value = 5
float_value = 3.14
result = integer_value + float_value  # Result will be 8.14 (float)
print(result)

8.14

In [16]:
integer_value = 5
float_value = 3.14
string_value = "10"

# Convert to integer:
integer_result = int(float_value)  # Result will be 3
integer_result_from_string = int(string_value)  # Result will be 10
print(integer_result)
# Convert to float:
float_result = float(integer_value)  # Result will be 5.0
print(float_result)
# Convert to string:
string_result = str(integer_value)  # Result will be "5"

print(string_result)

3
5.0
5

# Example 6 : Conditional Statement

In [18]:
grade = 90
if grade >= 90:
    print("Grade A")
elif grade >= 80:
    print("Grade B")
elif grade >= 70:
    print("Grade C")
else:
    print("Grade F")

Grade A

# Example 7 : Different types of loops in Python and their use cases with examples

In [19]:
# prompt: Describe the different types of loops in Python and their use cases with examples

# # Example 7 : Different types of loops in Python and their use cases with examples

# **1. `for` Loop:**

# * **Use Case:** Iterating over a sequence (such as a list, tuple, or string) to perform an action for each item in the sequence.
# * **Example:**
my_list = [1, 2, 3, 4, 5]
for item in my_list:
    print(item)


# **2. `while` Loop:**

# * **Use Case:** Repeating a block of code as long as a certain condition is true.
# * **Example:**

count = 0
while count < 5:
    print(count)
    count += 1


# **3. `Nested Loops`**

# * **Use Case:** Using a loop inside another loop to iterate through multiple dimensions of data or perform complex iterations.
# * **Example:**

for i in range(3):
    for j in range(2):
        print(f"i: {i}, j: {j}")


# **4. `break` Statement:**

# * **Use Case:** To exit a loop prematurely when a specific condition is met.
# * **Example:**

for i in range(10):
    if i == 5:
        break
    print(i)


# **5. `continue` Statement:**

# * **Use Case:** To skip the current iteration of a loop and proceed to the next iteration.
# * **Example:**

for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

# **6. `pass` Statement:**

# * **Use Case:** To create an empty loop body or a placeholder for code that will be added later.
# * **Example:**

for i in range(10):
    pass  # Placeholder for future code

1
2
3
4
5
0
1
2
3
4
i: 0, j: 0
i: 0, j: 1
i: 1, j: 0
i: 1, j: 1
i: 2, j: 0
i: 2, j: 1
0
1
2
3
4
1
3
5
7
9